<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Ecommerce</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>config.InitialisationDaoFactory</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>Inscription</display-name>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>servlet.Inscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/Inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterProduit</display-name>
    <servlet-name>AjouterProduit</servlet-name>
    <servlet-class>servlet.AjouterProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterProduit</servlet-name>
    <url-pattern>/AjouterProduit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TraitAdmin</display-name>
    <servlet-name>TraitAdmin</servlet-name>
    <servlet-class>servlet.TraitAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraitAdmin</servlet-name>
    <url-pattern>/TraitAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>lpr</display-name>
    <servlet-name>lpr</servlet-name>
    <servlet-class>servlet.lpr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lpr</servlet-name>
    <url-pattern>/lpr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>lpr2</display-name>
    <servlet-name>lpr2</servlet-name>
    <servlet-class>servlet.lpr2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lpr2</servlet-name>
    <url-pattern>/lpr2</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>lcl</display-name>
    <servlet-name>lcl</servlet-name>
    <servlet-class>servlet.lpr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lcl</servlet-name>
    <url-pattern>/lcl</url-pattern>
  </servlet-mapping>
</web-app>